@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .se-container {
    z-index: 0 !important;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #d4d4d4 #e7e5e4;
  }

  *::-webkit-scrollbar {
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    background: #e7e5e4;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #d4d4d4;
    border-radius: 10px;
    border: 3px solid #e7e5e4;
  }

  #requiredabilities,
  #requiredskill,
  #requirededucation,
  #additionalbenfits,
  #positionprofile,
  #specialneeds,
  #selectedvacancies,
  #selectedvacancy,
  #mothercompany,
  #tadelicenseauthority,
  #sector,
  #industry,
  #city,
  #vacancy,
  #country,
  #education {
    box-shadow: none !important;
  }

  .react-datepicker-wrapper {
    width: 100%;
  }

  @font-face {
    font-family: "ge_ss_text_Regular";
    src: url("../public/fonts/ge_ss_text_Regular.eot?#iefix")
        format("embedded-opentype"),
      url("../public/fonts/ge_ss_text_Regular.woff") format("woff"),
      url("../public/fonts/ge_ss_text_Regular.ttf") format("truetype");
  }

  .rtl > * {
    font-family: "ge_ss_text_Regular";
  }
}
